.gallery {
  position: relative;
  flex: 1 1;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--subBgBackground);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.headerWrapper {
  display: flex;
  gap: 10px;
}
.upload {
  cursor: pointer;
  padding: 0 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hoverBgBtn);
  color: var(--textBtn);
  border-radius: 10px;

  font-size: 0.75rem;
  text-transform: uppercase;

  letter-spacing: 2px;
  & span {
    font-size: 1rem;
    margin-right: 10px;
  }
  &:hover {
    background-color: var(--activeBgBtn);
    color: var(--activeTextBtn);
  }
}
.options {
  margin-top: 20px;
  display: flex;
  gap: 10px 20px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 20px;
  flex-wrap: wrap;
  background-color: var(--mainBackground);
}
.optionsItem {
  flex-basis: calc(50% - 10px);
}
.label {
  color: #8c8c8c;
  font-family: Jost;
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 0.63rem;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.witBtn {
  .optionsItem {
    flex: 1 1;
  }
  flex-basis: calc(50% - 10px);
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}
.list{
 flex: 0 0;
}