.select {
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0 10px;
  cursor: pointer;
  &:focus {
    border: 1px solid var(--hoverBgBtn);
  }
  &:active {
    border: 1px solid var(--hoverBgBtn);
  }
}
.selectTypeOne{
  @extend .select;
  color: var(--additionalTextColor);
  background-color: var(--mainBackground);
}
.selectTypeTwo{
  @extend .select;
  color: var(--textColor);
  background-color: var(--subBgBackground);
  width: 100%;
}