.header{
  flex: 12;
  height: 100%;
}

.navLink {
  cursor: pointer;
  color: var(--textColor);
  border-right: solid 1px var(--textColor);
}
.activeLink {
  color: var(--activeColor);
  border-right: solid 1px var(--textColor);
}
